.line {
    fill: none;
    stroke: #ffab00;
    stroke-width: 3;
}

/* Style the dots by assigning a fill and stroke */

.dot {
    fill: #ffab00;
    stroke: #fff;
}

.axis line {
    stroke: #706f6f;
    stroke-width: 0.5;
    shape-rendering: crispEdges;
}

/* axis contour */

.axis path {
    stroke: #706f6f;
    stroke-width: 0.7;
    shape-rendering: crispEdges;
}

/* axis text */

.axis text {
    fill: #2b2929;
    font-family: Georgia;
    font-size: 120%;
}

path {
    fill: none;
    stroke: #ed3700;
}

path.line-0 {
    fill: none;
    stroke: #ed3700;
}

path.line-1 {
    fill: none;
    stroke: #2b2929;
    
}

path.line-2 {
    fill: none;
    stroke: #9c9c9c;
    
}

path.line-3 {
    fill: none;
    stroke:darkblue;
    
}

.serie_label {
    fill: #2b2929;
    font-family: Georgia;
    font-size: 60%;
}