#brand-image {
    max-width: 15%;
    max-height: 100%;
    padding: 0;
    margin: 0;
    width: 35px;
}

#navbarBrand {
    height: 100%;
    width: 25%;
}

#brand-text {
    display: inline-block;
    font-size: 75%;
    margin-left: 5%;
    font-weight: bolder;
    color: #9d7a00;
}

.navbarItem {
    height: 100%;
    width: 15%;
    margin-top: auto;
    margin-bottom: auto;
}

.item-image {
    max-width: 35%;
    max-height: 100%;
    display: inline-block;
    width: 35px;
}

.navbarItemText {
    display: inline-block;
    font-size: 60%;
    font-weight: bolder;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#content {
    width: 100%;
    height: 100%;
}

#chart-left {
    display: inline-block;
}

#chart-right {
    display: inline-block;
}

.navbar {
    height: 60px;
}