#brand-image {
    max-width: 15%;
    max-height: 100%;
}

#navbarBrand {
    height: 100%;
    width: 25%;
}

#brand-text {
    display: inline-block;
    font-size: 75%;
    margin-left: 5%;
    font-weight: bolder;
    color: #9d7a00;
}

.navbarItem {
    height: 100%;
    width: 15%;
    margin-top: auto;
    margin-bottom: auto;
}

.item-image {
    max-width: 35%;
    max-height: 100%;
    display: inline-block;
}

.navbarItemText {
    display: inline-block;
    font-size: 60%;
    font-weight: bolder;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#content {
    width: 100%;
    height: 100%;
}

#chart-left {
    display: inline-block;
}

#chart-right {
    display: inline-block;
}

#sidebar {
    width: 15%;
    display: inline-block;
    padding-left: 2%;
    padding-top: 2%;
    background-color: azure;
}

#content {
    width:85%;
    display: inline-block;
}

#sidebar-title {
    margin: 0px;
    color: #9d7a00;
}

#sidebar-content {
    padding-left: 10%;
    color: #9d7a00;
}

#content-title {
    padding-left: 10%;
}

#mode-content {
    padding-left: 5%;
    font-weight: 700;
}

#title-line {
    font-weight: bolder;
    color: #9d7a00;
}

#cooling {
    color: rgb(27, 139, 184);
}


#heating {
    color: rgb(209, 8, 8);
}