#login-line {
    text-align: center;
    color: #A9A9A9
}

.logo-img-card {
    width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

input.form-control {
    background-color: #e5effb;
}

#end-login-line {
    color: #572911 !important;
}

#forgot-password-text {
    color: #572911;
    text-align: center;
}

#login-btn {
    background-color: #e0d7d2;
    border-color: #572911;
}