h3 {
    color: #D4AF37;
    margin-bottom: 5px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-top: 20px;
}

h4, h5 {
    color: #000000;
    margin-bottom: 5px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-top: 20px;
}

td {
    padding-left: 20px;
    padding-bottom: 5px;
}

select {
    height: 29px;
}

#rule_name {
    width: 300px;
}

.button-submit {
    background-color: #D4AF37;
    color: white;
}

.rule_display {
    width: 300px;
}

span.cooling {
    color: blue;
}

span.heating {
    color: red;
}

span.ai-title {
    padding-left: 5px;
}

div.boxed {
    border: 1px solid green;
}

div.side {
    height: 124px;
    text-align: center;
}

span.ml-cell {
    text-align: center;
    padding-left: 20px;
}

.columnLeft {
    float: left;
    width: 46%;
    padding-left: 20px;
}

.columnRight {
    float: right;
    width: 54%;
}